.navbar {
  float: left;
  width: 100%;
  height: 8%;
  color: solid black;
  background-color: skyblue;
  text-align: center;
  display: flex;
  justify-content: space-evenly; 
}

.logo {
  margin: 4px;
  border-radius: 50%;
  width: 50px;
}

.plant img {
  height: 400px;
}

a {
  text-decoration: none;
  color: black;
  padding-top: 1%;
}

h3 {
  color: green;
  font-style: italic solid;
  margin: 0%;
  padding-top: 1%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar #flip{
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar #flip:hover{background-color: red;}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* .mySlides {
  display: none;
} */

h1 {
  color: darkgreen;
  
  font-size: 70px;
  padding-top: 20px;
  padding-right: 10%;
}

.box {
  width: 315px;
  height: 400px;
  background: blue;
  position: relative;
  padding-left: 10px;
  animation-name: shakeit;
  animation-duration: 5s;
}

@keyframes shakeit {
  12.5% {
    left: -50px;
  }
  25% {
    left: 50px;
  }
  37.5% {
    left: -25px;
  }
  50% {
    left: 25px;
  }
  62.5% {
    left: -10px;
  }
  75% {
    left: 10px;
  }
}

.medium {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.testimonials{
  text-align: center;
  color: skyblue;
  margin-top: 20px;
  padding: 20px;
}

.footballer{
  display: flex;
  justify-content: space-evenly;
}

.player{
  background-color: gray;
  margin: 10px;
  width: 350px;
  padding: 5px;
}

.contact{
  color: skyblue;
  margin: 30px;
  
}

.form{
  background-color:white;
  display: flex;
  margin: 10px;
  padding: 20px;
  text-align: left;
  color: black;
}

.mine{
  margin: 40px;
  background-color: thistle;
  color: black;
  padding: 20px;
}

footer{
  border-top-style: solid;
  color: grey;
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

footer p2{
  font-size: 12px;
}

footer a{
  color:grey ;
  font-size: 12px;
}
.page_map {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.bg-image {

  background-image: url("garden.jpg");
  background-size: cover;
  height: 100vh; 
  filter: blur(4px);
  background-repeat: no-repeat;

}
.services{
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color:white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.services button{
    padding: 10px;
    margin: 20px;
    height: 50px;
    width: 150px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 25px;
    transition: .5s;

}
.services button:hover{
    
    background-color: chartreuse;
}
.services h1{
  color: #f1f1f1;
}


#panel {
  display: none;
}

.feedback_col{
  text-align: center;
  font-size: 10px;
  width: 300px;
  height: 40p;
  color: black;
 
}

.port {
  text-align: center;
}

.photoes {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.photoes img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.hide {
  display: none;
  position: relative;
}
    
.photoes img:hover + .hide {
  display: block;
  color:black;
}
